Repository kosiorkosa47/devops-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:terraform, lint:yaml, build:nextjs, build:python, build:rust

lint:terraform:
  stage: validate
  image: hashicorp/terraform:1.6
  script:
  - cd terraform
  - terraform fmt -check -recursive
  - terraform validate

lint:yaml:
  stage: validate
  image: cytopia/yamllint:latest
  script:
  - yamllint -c .yamllint kubernetes/

build:nextjs:
  stage: build
  image: node:20-alpine
  script:
  - cd apps/frontend
  - npm ci
  - npm run build
  - npm run test
  artifacts:
    paths:
    - apps/frontend/.next
    - apps/frontend/out
    expire_in: 1 hour

build:python:
  stage: build
  image: python:3.12-slim
  script:
  - cd apps/backend-python
  - pip install poetry
  - poetry install
  - poetry build
  - poetry run pytest
  artifacts:
    paths:
    - apps/backend-python/dist
    expire_in: 1 hour

build:rust:
  stage: build
  image: rust:1.75-alpine
  script:
  - cd apps/backend-rust
  - cargo build --release
  - cargo test --release
  artifacts:
    paths:
    - apps/backend-rust/target/release
    expire_in: 1 hour

ATLAS: Complete application stack with Claude API
  DEPLOYMENT_GUIDE.md
  QUICK_START_LOCAL.md
  apps/backend-python/.gitignore
  apps/backend-python/README.md
  apps/backend-python/app/__init__.py
  apps/backend-python/app/api/__init__.py
  apps/backend-python/app/api/dependencies.py
  apps/backend-python/app/api/routes/__init__.py
  apps/backend-python/app/api/routes/chat.py
  apps/backend-python/app/api/routes/health.py
  apps/backend-python/app/api/routes/users.py
  apps/backend-python/app/config.py
  apps/backend-python/app/core/__init__.py
  apps/backend-python/app/core/claude.py
  apps/backend-python/app/core/database.py
  apps/backend-python/app/core/redis.py
  apps/backend-python/app/main.py
  apps/backend-python/pyproject.toml
  apps/database/postgresql.yaml
  apps/database/redis.yaml
  apps/frontend/.eslintrc.json
  apps/frontend/.gitignore
  apps/frontend/README.md
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ChatInterface.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/tailwind.config.ts
  apps/frontend/tsconfig.json
  kubernetes/apps/backend-deployment.yaml
  kubernetes/apps/frontend-deployment.yaml
Due: lint:yaml, build:nextjs, build:python

Update progress: Application complete and ready to use
  atlas-progress.txt
Due: none

ATLAS: Agentic Execution Engine - TRUE AI AGENT!
  AGENTIC_FEATURES.md
  MCP_RESEARCH.md
  apps/backend-python/app/api/routes/agent.py
  apps/backend-python/app/config.py
  apps/backend-python/app/core/claude_agent.py
  apps/backend-python/app/core/execution_engine.py
  apps/backend-python/app/core/executors/__init__.py
  apps/backend-python/app/core/executors/kubernetes.py
  apps/backend-python/app/core/tools.py
  apps/backend-python/app/main.py
  apps/backend-python/pyproject.toml
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/AgentChat.tsx
  apps/frontend/src/components/Header.tsx
Due: build:nextjs, build:python

Update progress: Agentic execution engine complete
  atlas-progress.txt
Due: none

COMPLETE: All remaining components implemented
  apps/database/rabbitmq.yaml
  apps/payload-cms/package.json
  apps/payload-cms/src/payload.config.ts
  apps/payload-cms/src/server.ts
  apps/rust-backend/Cargo.toml
  apps/rust-backend/src/main.rs
  docs/runbooks/disaster-recovery.md
  kubernetes/backup/postgresql-backup-cronjob.yaml
  kubernetes/backup/velero-deployment.yaml
  kubernetes/backup/velero-values.yaml
  monitoring/grafana/dashboards/cost-optimization.json
  monitoring/grafana/dashboards/slo-dashboard.json
  monitoring/prometheus/slo-alerts.yaml
  scripts/maintenance/cleanup.sh
  scripts/maintenance/maintenance-cronjob.yaml
  terraform/main.tf
  terraform/modules/namespaces/main.tf
Due: lint:terraform, lint:yaml

Final update: 100% project completion confirmed
  atlas-progress.txt
Due: none

PROJECT COMPLETION REPORT - 100% Verified
  PROJECT_COMPLETION_REPORT.md
Due: none

Update README - Complete feature overview
  README.md
Due: none

📝 Fix README footer - less confusing wording
  README.md
Due: none

📝 Update README - Accurate positioning vs competition
  README.md
Due: none

🔄 Update Claude badge to Sonnet 4.5
  README.md
Due: none

🔒 Add internal files to .gitignore + Update to Claude 4.5
  .gitignore
  PROJECT_COMPLETION_REPORT.md
  README.md
  atlas-progress.txt
  devops-agent-windsurf-prompt.md
  monitoring/grafana/dashboards/cost-optimization.json
Due: none

🧠 MAJOR: Advanced System Prompt based on Anthropic Best Practices
  apps/backend-python/app/core/claude_agent.py
Due: build:python

📚 Add comprehensive System Prompt documentation
  docs/SYSTEM_PROMPT_GUIDE.md
Due: none

📊 Add competitive analysis and feature roadmap
  docs/FEATURE_ANALYSIS_COMPETITORS.md
Due: none

🚀 MEGA UPDATE: Phases 1-5 Implemented
  apps/backend-python/app/core/claude_agent.py
  apps/backend-python/app/core/execution_engine.py
  apps/backend-python/app/core/executors/kubernetes.py
  apps/backend-python/app/core/predictive_engine.py
  apps/backend-python/app/core/tools.py
Due: build:python

🔒 Phase 6: Security Auto-Remediation
  apps/backend-python/app/core/execution_engine.py
  apps/backend-python/app/core/security_engine.py
  apps/backend-python/app/core/tools.py
Due: build:python

🔧 Phase 7-8: API Routes Update + Multi-step Planning
  apps/backend-python/app/api/routes/agent.py
Due: build:python

📚 Documentation: Testing Guide + Feature Summary
  NEW_FEATURES_SUMMARY.md
  TESTING_GUIDE.md
Due: none

🔒 Enhanced .gitignore for local testing
  .gitignore
Due: none

🧪 Autonomous Testing Complete - ALL TESTS PASSED!
  apps/backend-python/test_new_features.py
Due: build:python

✅ Real Claude API Testing + README Update
  README.md
  apps/backend-python/app/config.py
  apps/backend-python/test_claude_api.py
Due: build:python

✨ Add Beautiful Model & Approval Mode Selectors with HeroUI
  apps/backend-python/app/api/routes/agent.py
  apps/backend-python/app/core/claude_agent.py
  apps/frontend/package.json
  apps/frontend/src/components/AgentChat.tsx
  apps/frontend/tailwind.config.ts
Due: build:nextjs, build:python

✨🎨 MASSIVE UI UPGRADE + ALL CLAUDE MODELS!
  apps/backend-python/app/api/routes/agent.py
  apps/backend-python/app/core/claude_agent.py
  apps/backend-python/app/core/execution_engine.py
  apps/backend-python/app/core/executors/system.py
  apps/backend-python/app/core/tools.py
  apps/backend-python/run_simple.py
  apps/frontend/next.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AgentChat.tsx
  apps/frontend/tailwind.config.ts
Due: build:nextjs, build:python

🎯 MINIMALIST REDESIGN - Golden Ratio + Shadcn Style
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AgentChat.tsx
Due: build:nextjs

💎 PROFESSIONAL PREMIUM REDESIGN - Linear/Vercel Inspired
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AgentChat.tsx
Due: build:nextjs

🚀 MASSIVE UPDATE - Latest Everything via Context7!
  apps/backend-python/pyproject.toml
  apps/backend-python/requirements.txt
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/AgentChat.tsx
Due: build:nextjs, build:python

🔥 FIX: Update to CORRECT Claude Models (Aug 2025)
  apps/backend-python/app/config.py
  apps/frontend/src/components/AgentChat.tsx
Due: build:nextjs, build:python

🎨 MANUS.AI STYLE REDESIGN - Split-Screen Interface
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

✨ Add Collapsible & Resizable Actions Panel
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

🔥 FIX: Add Back Claude Sonnet 4.5 - Latest Model!
  apps/backend-python/app/config.py
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs, build:python

✅ Production-Ready: Exact Model IDs with Snapshots
  PRODUCTION_CONFIG.md
  apps/backend-python/app/config.py
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs, build:python

🔧 Fix: Correct Haiku 4.5 Model ID
  PRODUCTION_CONFIG.md
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

✨ ChatGPT/Claude Style Messages + Streaming Text
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

✨ Complete ChatGPT Style: Avatars & Timestamps
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

🔧 Fix: Claude API Tool Use/Result Pairing
  apps/backend-python/app/core/claude_agent.py
Due: build:python

🔧 Fix Backend Startup + 🎨 Professional UI Redesign
  apps/backend-python/app/main.py
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs, build:python

🔧 Fix CORS Configuration for Frontend
  apps/backend-python/app/config.py
  test_backend.py
Due: build:python

🔧 Fix TypeScript Errors in Chat Components
  apps/frontend/src/components/AgentChat.tsx
  apps/frontend/src/components/AgentChatManus.tsx
Due: build:nextjs

🔧 FIX: CORS Network Error - Explicit Origins List
  apps/backend-python/app/main.py
Due: build:python

Path conditions:
  lint:terraform: any of: terraform/**/*
  lint:yaml: any of: kubernetes/**/*
  build:nextjs: any of: apps/frontend/**/*
  build:python: any of: apps/backend-python/**/*
  build:rust: any of: apps/backend-rust/**/*
